<%- include('partials/header'); -%>
    <!-- Home page content -->

    <div class="container mt-5 main-content home">

        <div class="row">
            <h1 class="fw-bold mb-5 col-lg-6 col-md-12 col-sm-12">Share your thoughts
                <br>to all!
                <br>
                <p class="fw-normal me-5 hero-para">
                    <%= `${thought}` %>
                </p>
                <a class="btn-compose" href="/compose">Compose</a>
            </h1>
            <img src="images/messaging.svg" alt="" class="col-lg-6 col-md-12 col-sm-12 hero-svg">
        </div>

    </div>

    <% posts.forEach((post)=>{ %>
        <div class="container post-container mt-3">
            <div class="container-fluid homepage-post">
                <h1> <a class="post-head" href="/posts/<%= post.title %>">
                        <%= post.title %>
                    </a> </h1>
                <p>
                    <%= post.body.substring(0,200) + " . . . . . ." %> <a href="/posts/<%= post.title %>"
                            class="read-link">Read more</a>
                </p>
            </div>
        </div>
        <% }); %>

            <%- include('partials/footer'); -%>